body {
    font-family: sans-serif;
    max-width: 600px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 19px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.hraci {
    display: flex;
    justify-content: space-between;
}

.hrac-1 {
    display: flex;
    flex-wrap: wrap;
}

.hrac-2 {
    display: flex;
    flex-wrap: wrap-reverse;
}

.obrazek-Honza img {
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    width: 80px;
    object-fit: cover;
    object-position: center;  
    margin: 0 10px 0 0; 
}

.Honza {
    text-align: left;
}

.Adela {
    text-align: right;
}

.obrazek-Adela img {
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    width: 80px;
    object-fit: cover;
    object-position: center;
    margin: 0 0 0 10px;
}

.nova-hra {
    text-align: center;
    font-size: 20px;
}

.tlacitko {
    display: flex;
    justify-content: center;
}
    
button {
    background-color:rgb(112, 180, 212);
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5%;
    padding: 10px 20px;
}

.tlacitko button:hover,
.tlacitko button:focus {
    background-color: rgb(85, 85, 177);
}

.sachovnice {
    background-image: url(obrazky/sachovnice.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    aspect-ratio: 1 / 1;
    border: 6px solid #442611;
    border-radius: 2%;
    display: grid;
    grid-template-columns: repeat (8, 1fr); 
    grid-template-rows: repeat (8, 1fr);
}

.dama-cerna img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 5;
    grid-row: 1;
}

.pesec-cerny-1 img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 1;
    grid-row: 2;
}

.pesec-cerny-2 img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 3;
    grid-row: 3;

}

.pesec-bily img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 4;
    grid-row: 4;
}

.pesec-cerny-3 img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 8;
    grid-row: 4;
}

.kun-bily img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 2;
    grid-row: 5;
}

.kral-cerny img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 6;
    grid-row: 6;
}

.vez-cerna img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 3;
    grid-row: 8;
}

.kral-bily img {
    width: 10%;
    aspect-ratio: 1 / 1;
    grid-column: 6;
    grid-row: 8;
}