body {
    font-family: sans-serif;
    
}

h1 {
    text-align: center;
    font-size: 30px;
}

h3 {
    margin: 20px 0 0 0;
}

p {
    margin: 0 0 20px 0;
}

.hraci {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
    
    max-width: 100%;
    align-items: stretch
}

.obrazek-Honza img {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
    align-items: center;
}


.Honza {
    text-align: left;
    object-position: center;
    align-items: stretch;
    
    
    
}

.Adela {
    text-align: right;
}

.obrazek-Adela img {
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    width: 100%;
    object-fit: cover;
    object-position: inherit;
}



.nova-hra {
    text-align: center;
    font-size: 20px;
    
}

.tlacitko {
    display: flex;
    justify-content: center;
}
    

button {
    background-color:rgb(112, 180, 212);
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5%;
    padding: 10px 20px;
    
    

}




.sachovnice img {
   
    border: 10px solid #442611;
    border-radius: 2%;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: contain;
    object-position: center;

    
}

.figurky img {
    width: 40px;
    height: 120px;
}